.git
.github

vendor
node_modules
e2e/node_modules
e2e/test-results
e2e/playwright-report

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/build
public/hot

.env
.env.backup
.phpunit.result.cache
.phpunit.cache

TODOS.md
